<ion-header>
  <ion-toolbar>
    <ion-title>Notification Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notification Permissions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ permissionGranted ? 'Notifications are enabled' : 'Notifications are disabled' }}</p>
      <ion-button expand="block" (click)="requestPermissions()" *ngIf="!permissionGranted">
        Enable Notifications
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pending Notifications</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You have {{ pendingNotifications.length }} pending notification(s)</p>
      <ion-button expand="block" (click)="loadPendingNotifications()">
        Refresh
      </ion-button>
      <ion-button expand="block" color="danger" (click)="cancelAllNotifications()" *ngIf="pendingNotifications.length > 0">
        Cancel All
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Test Notifications</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Send a test notification to verify functionality</p>
      <ion-button expand="block" (click)="sendTestNotification()" [disabled]="!permissionGranted">
        Send Test Notification
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Example of notification preferences (for future implementation) -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notification Preferences</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Pills Dispensed</ion-label>
          <ion-toggle checked="true"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Pills Running Low</ion-label>
          <ion-toggle checked="true"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Missed Dose</ion-label>
          <ion-toggle checked="true"></ion-toggle>
        </ion-item>
      </ion-list>
      <p class="ion-padding-top">
        <small>Note: Preferences will be synced with backend in production</small>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
